.labelInterval .ant-form-item-label label, .labelSymbol .ant-form-item-label label {
  font-size: 12px;
}

.labelInterval .ant-select-selection-item, .labelSymbol .ant-select-selection-item {
  font-size: 12px;
}

div.ant-select-item-option {
  font-size: 12px !important;
}
