#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body, #root, .App, #map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.time-value {
  display: block;
}

.leaflet-container {
  flex-grow: 1;
  height: 100%;
  width: 100%; 
}