.ant-tabs-tab {
  border: 1px solid #aaa !important;
  background-color: rgba(0,0,0, 0.04) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ant-tabs-tab-with-remove .ant-tabs-tab {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.ant-tabs-tab-active {
  border: 2px solid #1677ff !important;
  border-bottom: 0 !important;
  background-color: transparent !important;
}

.ant-tabs-tab-remove {
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 5px !important;
}

.ant-tabs-nav {
  margin: 0 !important;
}

.ant-tabs-nav-add {
  border: 0 !important;
}

.ant-tabs-nav-list {
  padding-left: 10px !important;
}

.logo-image {
  height: 30px;
  width: 30px;
}